<div class="card">
  <h2>Signup</h2>
  <form (ngSubmit)="submit()" [formGroup]="signupForm">
    <label>Name</label>
    <input type="text" formControlName="name" placeholder="Your full name" />
    <small
      *ngIf="
        signupForm.get('name')?.hasError('required') &&
        signupForm.get('name')?.touched
      "
      class="error"
      >Name is required.</small
    >

    <label>Email</label>
    <input type="email" formControlName="email" placeholder="you@example.com" />
    <small
      *ngIf="
        signupForm.get('email')?.hasError('required') &&
        signupForm.get('email')?.touched
      "
      class="error"
      >Email is required.</small
    >
    <small
      *ngIf="
        signupForm.get('email')?.hasError('email') &&
        signupForm.get('email')?.touched
      "
      class="error"
      >Invalid email format.</small
    >

    <label>Password</label>
    <input
      type="password"
      formControlName="password"
      placeholder="Enter password"
    />
    <small
      *ngIf="
        signupForm.get('password')?.hasError('required') &&
        signupForm.get('password')?.touched
      "
      class="error"
      >Password is required.</small
    >
    <small
      *ngIf="
        signupForm.get('password')?.hasError('minlength') &&
        signupForm.get('password')?.touched
      "
      class="error"
      >Password must be at least 6 characters.</small
    >

    <button class="btn" type="submit" [disabled]="loading">
      {{ loading ? "Creating..." : "Signup" }}
    </button>
  </form>

  <p *ngIf="error" class="error-message">{{ error }}</p>
  <p *ngIf="success" style="color: #388e3c; margin-top: 0.7rem">
    {{ success }}
  </p>
  <p style="margin-top: 1rem">
    Already have account? <a routerLink="/login">Login</a>
  </p>
</div>
